@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

<!--This is where I display the bowler information-->

@foreach (var x in Model.Bowlers)
{
    <p>@x.BowlerFirstName</p>
    <p>@x.BowlerMiddleInit</p>
    <p>@x.BowlerLastName</p>
    <p>@x.BowlerAddress</p>
    <p>@x.BowlerCity</p>
    <p>@x.BowlerState</p>
    <p>@x.BowlerZip</p>
    <p>@x.BowlerPhoneNumber</p>
}

<div page-info="@Model.PageNumberingInfo" page-url-teamname="@Model.TeamName">

</div>